@mixin container-preset($padding, $margin) {
  padding: $padding;
  margin: $margin;
  border: 1px solid $accent-color;
  border-radius: 25px;
  background-color: $main-color;
}

.amount-selector-container,
.spaceships-selector-container,
.starship-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include container-preset(2rem, 2rem);
}

.outliers-container {
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include container-preset(1rem, 2rem);
}
