.starship-element-text {
    text-align: center;
    margin: 5px;
}

.starship-element-title {
    color: $accent-color;
    font-size: 0.8rem;
}

.starship-element-characteric {
    margin-top: 5px;
}
